* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  font-family: 'Poppins', sans-serif;
}

header {

  animation: gradient 10s ease infinite;
  background: linear-gradient(-45deg, #3385ff, #80b3ff, #23a6d5, #23d5ab) no-repeat;
  background-size: 300% 300%;
  padding: 2rem 0 10rem;
  text-align: center;
}

.container {
  width: min(90vw, 1200px);
  margin: auto;
}

#logo {
  color: #fff;
  font-weight: 100;
  font-family: 'Kalam', cursive;
}

#jogos {
  background: white;
  padding: 2rem 2rem;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  margin-top: -8rem;
}

h3 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  font-weight: normal;
}

#jogo {
  font-weight: normal;
  font-size: 1rem;
}

.jogo {
  width: 100px;
  padding: auto;
}

/* BUTTON =============== */
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.button:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.button:focus {
  outline: none;
}
.button.gradient {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/* TABLE ========================= 
#visualizacao {
  width: 250px;
  color: black;
  background: white;
  font-weight: normal;
  text-align: left;
}
*/
#tbl-megasena {
  background: #80ff80;
  color: #009900;
}

#tbl-lotofacil {
  background: #eb99ff;
  color: #7a0099;
}

#tbl-quina {
  background: #b84dff;
  color: #4c0080;
}

#tbl-lotomania {
  background: #ff8533;
  color: #993d00;
}

#tbl-duplasena {
  background: #ff6666;
  color: #990000;
}

#tbl-timemania {
  background: #ffff66;
  color: #33cc33;
}

.table-bordered {
  width: 300px;
  font-weight: normal;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom:18px;
}


table thead th {
  background: white;
  font-weight: normal;

  padding: 1rem 2rem;
  text-align: left;

}

table td {
  background: white;
  padding: 1rem 2rem;
}

table tbody tr {
  opacity: 0.7;
}

table tbody tr:hover {
  opacity: 1;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff8000;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ff9933;
  }
  
  .active {
    background-color: #ff9933;
  }
  
  div.tabela{
      float:right;
  }
  
  #visualizacao table[id^="tbl-"]{
      width: 250px;
      margin: 10px;
  }
  */